
:root{
    --color1: #f28888;
    --color2: #078c7f;
    --bg1:#f2f2f2;
    --bg2:#f2c8c4;
    --txt-color1:#fff;
    --txt-color2: #261a17;
    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
}

header{
    background: var(--color1);
}

.header-container{
    display: flex;
    justify-content: start;
    gap: 0px 50px;
    padding: 10px;

}

header h2{
    color: var(--txt-color1);
    font-size: 3rem;
}

.preco-container{
    display: flex;
    flex-wrap: wrap;

}

.preco-contain{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.preco-contain h3:nth-child(1){
    text-decoration: line-through;
    color: #435058;;
}

.preco-contain p{
    color: red;
}

.preco-contain h3:nth-child(3){
    color: var(--txt-color1);
}

header a{
    background: var(--color2);
    width: 200px;
    border-radius: 8px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    align-self: end;
    font-size: 18px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.preco-contain h3{
    font-size: 3rem;
}


.home{
    background-image: url('./img/nuvem_rosa.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 50px;
}


.home h1{
    font-size: 3.5rem;
    color: var(--txt-color1) ;
    text-shadow: 0px 1px 1px #5c5c5c;
}